<!DOCTYPE html>
<html>
  <head>
    <title> <%= package.name %> - V: <%= package.version %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Aplicación <%= package.prettyName %></h1>
    <p>
      <%= package.description %>
    </p>
  </body>
</html>
